@model AccountModel
@{
    ViewData["Title"] = "Register";
}

<form method="post">
        <div class="border pt-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Register</h2>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
            <a asp-controller="Authentication" asp-action="Login" class="btn btn-secondary btn-block btn-lg">
                İptal et
            </a>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3" id="success-alert">
                    @TempData["SuccessMessage"]
                </div>
            }
        </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
