@model UpdatePasswordModel

<h2>Password Update</h2>

<form method="post">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Account</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Password Update</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <div class="d-flex justify-content-center mb-2">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Old Password</p>
                                </div>
                                <div class="col-sm-9">
                                            <input asp-for="OldPassword" type="password" class="form-control" />
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">New Password</p>
                                </div>
                                <div class="col-sm-9">
                                    <input asp-for="NewPassword" type="password" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Confirm New Password</p>
                                </div>
                                <div class="col-sm-9">
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary" style="width:100px">Update</button>
                                <div class="mx-3">
                                    <hr>
                                </div>
                                <a asp-controller="Authentication" asp-action="AccountInfo" class="btn btn-secondary" style="width:100px">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
