@model AccountUpdateModel
@{
    ViewData["Title"] = "Account Update";
    var cities = (List<Sehirler>)ViewBag.Cities;
}

<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Account Update</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" pattern="[A-Za-z]+" title="Please enter letters only" required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" pattern="[A-Za-z]+" title="Please enter letters only" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <select asp-for="SehirId" class="form-control">
            @foreach(var item in cities){
                <option value="@item.SehirId">@item.SehirAdi</option>
            }
        </select>
        <div class="mb-3">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" pattern="[0-9]+" title="Please enter numbers only" required />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Authentication" asp-action="AccountInfo" class="btn btn-secondary" style="width:150px">
            Cancel
        </a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
