@model UserInfoModel
@{
    ViewData["Title"] = "User Information";
}

<div class="container p-3 text-center">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">User Information</h2>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <label>First Name:</label>
                <input type="text" class="form-control" value="@Model.FirstName" readonly />
            </div>
            <div class="mb-3">
                <label>Last Name:</label>
                <input type="text" class="form-control" value="@Model.LastName" readonly />
            </div>
            <div class="mb-3">
                <label>Email:</label>
                <input type="text" class="form-control" value="@Model.Email" readonly />
            </div>
            <div class="mb-3">
                <label>Phone:</label>
                <input type="text" class="form-control" value="@Model.Phone" readonly />
            </div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                Logout
            </a>
        </div>
    </div>
</div>
